.card {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 10.547rem;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 1s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.examAlreadyTaken {
  display: none;
}

.card:hover .examAlreadyTaken {
  display: block;
}
